/*====================================*/
/*This needs to be executed in JS*/

@media screen and (max-width: 1280px) {
    .navbar a:nth-child(7) {
    	display: none;
    }
}

@media screen and (max-width: 1080px) {
	.navbar a:nth-child(6) {
		display: none;
	}
}

@media screen and (max-width: 920px) {
	.navbar a:nth-child(5) {
		display: none;
	}
}

@media screen and (max-width: 780px) {
	.navbar a:nth-child(4) {
		display: none;
	}
}

@media screen and (max-width: 580px) {
	.navbar a:nth-child(3) {
		display: none;
	}
}

@media screen and (max-width: 380px) {
	.navbar a:nth-child(2) {
		display: none;
	}
}

/*====================================*/

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: cooper;
}

@font-face{
	font-family: cooper;
	src: url("../assets/cooper.otf");
}

a {
	text-decoration: none;
}

.navbar {
	padding:35px 0px;
	border:1px solid white;
	background-color:black;
}

.navbar a {
	color: white;
	border:1px solid white;
	text-transform: uppercase;
	padding:20px 35px;
}

.navbar a:hover {
	color: black;
	background-color: white;
}

.navbar-link-container {
	padding: 20px 0px;
	border:1px solid white;
	text-align: center;
}

.slideshow {
	display: grid;
	color: white;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: minmax(1080px, auto);
	background: url("../images/cinema_b.png") no-repeat;
	background-size: cover; /*The background image stop resizes when it hits
	1000px in height. That is because we declared the rule above*/
	justify-items: center;
}

.slideshow div {
	/*border: 1px solid white;*/
}

.slideshow div h1 {
	margin-top: 200px;
	font-size: 65px;
}

.slideshow div h4 {
	width: 75%;
	display: block;
	margin: 0 auto;
	padding-top: 50px;
}

.slideshow div h1, .slideshow div h4 {
	text-align: center;
	/*border: 1px solid white;*/
}

.slideshow div img:nth-child(odd) {
	width: 35px;
	cursor:pointer;
	padding-top: 435px;
}

.movie-showcase-container {
	width: 65%;
	display: block;
	margin: 0 auto;
	/*border: 1px solid black;*/
	margin-top: 150px;
}

.movie-showcase{
	display: grid;
	color: white;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 350px);
	grid-gap: 50px;
	text-align: center;
}

.movie-showcase div {
	/*border: 1px solid black;*/
	cursor: pointer;
}

/*.movie-showcase div:nth-child(1) {
	================================================
	//background-image can only take url() as value
	background-image: url("../images/coat.png");
	background-repeat: no-repeat;
	================================================
	background: url("../images/coat.png") no-repeat;
	background-size: cover;
}*/

/*=================================================*/
/*This needs to be executed in JS*/

.movie-showcase div:nth-child(1) {
	background: url("../images/coat_b.png") no-repeat;
	background-size: cover;
}

.movie-showcase div:nth-child(2) {
	background: url("../images/light_b.png") no-repeat;
	background-size: cover;
}

.movie-showcase div:nth-child(3) {
	background: url("../images/wall_b.png") no-repeat;
	background-size: cover;
}

.movie-showcase div:nth-child(4) {
	background: url("../images/cinema_b.png") no-repeat;
	background-size: cover;
}

.movie-showcase div:nth-child(5) {
	background: url("../images/coat_b.png") no-repeat;
	background-size: cover;
}

.movie-showcase div:nth-child(6) {
	background: url("../images/light_b.png") no-repeat;
	background-size: cover;
}

.movie-showcase div:nth-child(7) {
	background: url("../images/wall_b.png") no-repeat;
	background-size: cover;
}

.movie-showcase div:nth-child(8) {
	background: url("../images/cinema_b.png") no-repeat;
	background-size: cover;
}

.movie-showcase div:nth-child(9) {
	background: url("../images/coat_b.png") no-repeat;
	background-size: cover;
}

/*=================================================*/

.movie-showcase div h1 {
	padding-top: 70px;
	/*border: 1px solid black;*/
}

.movie-showcase div p {
	width: 70%;
	display: block;
	margin: 0 auto;
	margin-top: 25px;
}

.footer-container {
	padding: 100px 0px;
	border: 1px solid black;
}

.footer-container .footer-section:nth-child(1) {
	margin-top: -50px;
}

.footer-section {
	text-align: center;
	border: 1px solid black;
	margin-top: 25px;
	padding: 10px;
}

.footer-section a {
	padding: 10px;
	border: 1px solid black;
}
