*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

@font-face{
	font-family: cooper;
	src: url("../assets/cooper.otf");
}

a {
	font-family: cooper;
	text-decoration: none;
}

.navbar {
	padding:35px 0px;
	/*border:1px solid white;*/
	background-color:black;
}

.navbar a {
	color: white;
	/*border:1px solid white;*/
	text-transform: uppercase;
	padding:20px 35px;
}

.navbar a:hover{
	color:black;
	background-color:white;
}

.navbar-link-container{
	padding:20px 0px;
	/*border:1px solid white;*/
	text-align:center;
}

.slideshow img{
	width:100%;
}